h1 {
    color: black;
    box-shadow: #f2f2f2;
    float: center;
    text-align: center;
}

body {
    background-color: #8d8d8d;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: black;
    color: #f2f2f2;
}

input, label, select {
    display: inline;
    background-color: lightgray;
}

.content {
    display: flex;
    background-color: #be3abe;

}

.hidden {
    visibility: hidden;
}

/* ! */
html {
    font-family: 'Lora', sans-serif;
    width: 100%;
}

body {
    margin: 5% auto 0 auto;
    width: 90%;
    max-width: 1125px;
}

h1 {
    font-size: 28px;
    margin-bottom: 2.5%;
}

input,
span,
label,
p {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
}

p:focus,
input:focus {
    outline: 0;
}

/* Question */

input.question,
p.question {
    font-size: 48px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    /* Hack to make "rows" attribute apply in Firefox. */
}

/* Underline and Placeholder */

input.question+label,
p.question+label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.question:focus+label,
p.question:focus+label {
    width: 80%;
}

input.question:focus,
input.question:valid {
    padding-top: 35px;
}

p.question:valid,
p.question:focus {
    margin-top: 35px;
}

input.question:focus+label>span,
input.question:valid+label>span {
    top: -100px;
    font-size: 22px;
    color: #333;
}

p.question:focus+label>span,
p.question:valid+label>span {
    top: -150px;
    font-size: 22px;
    color: #333;
}

input.question:valid+label,
p.question:valid+label {
    border-color: green;
}

input.question:invalid,
p.question:invalid {
    box-shadow: none;
}

input.question+label>span,
p.question+label>span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="text"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: ;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
}

input[type="text"]:hover {
    background: #EEE;
}

input[type="text"]:active {
    background: #999;
}

input.question:valid~input[type="text"], p.question:valid~input[type="text"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.question:invalid~input[type="text"], p.question:invalid~input[type="text"] {
    display: none;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}