<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>MadLib</title>
  </head>
  <body>
    <navbar class="navbar">
      <a href="/form">Form</a>
      <a href="/select">Select</a>
      <a href="/">Mad Libs</a>
    </navbar>
    <h1>Mad Libs</h1>
    {% block content %} {% endblock %}
  </body>
</html>
